<div class="row">
  <h2> Find a Trail Near You </h2>
  
  <form class="form login-form">
      <div class="form-group">
        <label for="search">City</label>
        <input class="form-input" type="text" id="search-city" />
      </div>
      <div class="form-group">
        <label for="search">State</label>
        <input class="form-input" type="text" id="search-state" />
      </div>
    </form>

</div>