<div class="d1"></div>
<div class="d2"></div>
<div class="d3">

  <div class="dropdown d-flex justify-content-center" id="trail-list-container">
    <a class="btn btn-secondary dropdown-toggle text-center mx-auto" id="trail-list-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Find Your Trail
    </a>
   <ul class="dropdown-menu text-center bg-transparent text-dark" id="trail-list-container" aria-labelledby="dropdownMenuLink">
      <li class="bg-transparent list-group-item"> <a href= "/results/1" id="trail-link">Angels Landing Trail</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/2" id="trail-link">Devils Bridge Trail</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/3" id="trail-link">Emerald Lake Trail</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/4" id="trail-link">Alum Cave Trail to Mount LeConte</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/5" id="trail-link">Cathedral Rock Trail</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/6" id="trail-link">Mount Lafayette and Franconia Ridge Trail Loop</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/7" id="trail-link">Navajo Loop and Queen's Garden Trail</a></li>
      <li class="bg-transparent list-group-item"><a href= "/results/8" id="trail-link">Lake Blanche Trail</a></li>
      <li class="bg-transparent list-group-item"><a href="/results/9" id="trail-link">Lake 22 Trail</a></li>
      <li class="bg-transparent list-group-item"><a href="/results/10" id="trail-link">Delicate Arch Trail</a></li>
   </ul>
  </div>
</div>
<div class="d4"></div>
