<ul class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    CHOOSE A TRAIL BELOW
  </a>
  <li class="list-group-item"> <a href= "/results/1">Angels Landing Trail</a></li>
  <li class="list-group-item"><a href= "/results/3">Devils Bridge Trail</a></li>
  <li class="list-group-item"><a href= "/results/2">Emerald Lake Trail</a></li>
  <li class="list-group-item"><a href= "/results/3">Alum Cave Trail to Mount LeConte</a></li>
  <li class="list-group-item"><a href= "/results/4">Cathedral Rock Trail</a></li>
  <li class="list-group-item"><a href= "/results/5">Mount Lafayette and Franconia Ridge Trail Loop</a></li>
  <li class="list-group-item"><a href= "/results/6">Navajo Loop and Queen's Garden Trail</a></li>
  <li class="list-group-item"><a href= "/results/7">Lake Blanche Trail</a></li>
  <li class="list-group-item"><a href="/results/8">Lake 22 Trail</a></li>
  <li class="list-group-item"><a href="/results/9">Delicate Arch Trail</a></li>
</ul>


{{! <div class="row">
  <form class="col-md-6 md-4 form result-form">
    <div class="form-group">
      <datalist id="browsers">
        <option value="Angels Landing Trail" id="1"></option>
        <option value="Devils Bridge Trail" id="2"></option>
        <option value="Emerald Lake Trail" id="3"></option>
        <option value="Alum Cave Trail to Mount LeConte" id="4"></option>
        <option value="Cathedral Rock Trail" id="5"></option>
        <option value="Mount Lafayette and Franconia Ridge Trail Loop" id="6"></option>
        <option value="Navajo Loop and Queen's Garden Trail" id="7"></option>
        <option value="Lake Blanche Trail" id="8"></option>
        <option value="Lake 22 Trail" id="9"></option>
        <option value="Delicate Arch Trail" id="10"></option>
      </datalist>
      <input list="browsers" id="browsers" name="browser">
    </div>
    <div class="form-group">
      <button class="btn btn-primary find-trail-btn" role="submit">Results</button>
    </div>
  </form>
  <div class="col-md-2">
    
  </div>
</div> !}}

<script src="/js/results.js"></script>
