<div class="row">
  <h2> Find a Campground </h2>
  
  <form class="form login-form">
      <div class="form-group">
        <label for="search">Search by city, state, or zipcode:</label>
        <input class="form-input" type="text" id="search" />
      </div>
    </form>

</div>