<div class="row">
  <form class="col-md-6 md-4 form result-form">
    <div class="form-group">
      <datalist id="browsers">
        <option value="Angels Landing Trail" id="1"></option>
        <option value="Devils Bridge Trail" id="2"></option>
        <option value="Emerald Lake Trail" id="3"></option>
        <option value="Alum Cave Trail to Mount LeConte" id="3"></option>
        <option value="Cathedral Rock Trail"></option>
        <option value="Mount Lafayette and Franconia Ridge Trail Loop" id="4"></option>
        <option value="Navajo Loop and Queen's Garden Trail" id="5"></option>
        <option value="Lake Blanche Trail" id="6"></option>
        <option value="Lake 22 Trail" id="7"></option>
        <option value="Delicate Arch Trail" id="8"></option>
      </datalist>
      <input list="browsers" id="browsers" name="browser">
    </div>
    <div class="form-group">
      <button class="btn btn-primary find-trail-btn" role="submit">Results</button>
    </div>
  </form>
  <div class="col-md-2">
    
  </div>
</div>

<script src="/js/results.js"></script>
