<ul class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    CHOOSE A TRAIL BELOW
  </a>
  <li class="list-group-item"> <a href= "/results/1">Angels Landing Trail</a></li>
  <li class="list-group-item"><a href= "/results/2">Devils Bridge Trail</a></li>
  <li class="list-group-item"><a href= "/results/3">Emerald Lake Trail</a></li>
  <li class="list-group-item"><a href= "/results/4">Alum Cave Trail to Mount LeConte</a></li>
  <li class="list-group-item"><a href= "/results/5">Cathedral Rock Trail</a></li>
  <li class="list-group-item"><a href= "/results/6">Mount Lafayette and Franconia Ridge Trail Loop</a></li>
  <li class="list-group-item"><a href= "/results/7">Navajo Loop and Queen's Garden Trail</a></li>
  <li class="list-group-item"><a href= "/results/8">Lake Blanche Trail</a></li>
  <li class="list-group-item"><a href="/results/9">Lake 22 Trail</a></li>
  <li class="list-group-item"><a href="/results/10">Delicate Arch Trail</a></li>
</ul>

<script src="/js/results.js"></script>
