<div class="row">
  <form class="col-md-6 md-4 form result-form">
    <div class="form-group">
      <datalist id="browsers">
        <option value="Angels Landing Trail" id="1"></option>
        <option value="Devils Bridge Trail" id="2"></option>
        <option value="Emerald Lake Trail" id="3"></option>
        <option value="Alum Cave Trail to Mount LeConte" id="4"></option>
        <option value="Cathedral Rock Trail" id="5"></option>
        <option value="Mount Lafayette and Franconia Ridge Trail Loop" id="6"></option>
        <option value="Navajo Loop and Queen's Garden Trail" id="7"></option>
        <option value="Lake Blanche Trail" id="8"></option>
        <option value="Lake 22 Trail" id="9"></option>
        <option value="Delicate Arch Trail" id="10"></option>
      </datalist>
      <input list="browsers" id="browsers" name="browser">
    </div>
    <div class="form-group">
      <button class="btn btn-primary find-trail-btn" role="submit">Results</button>
    </div>
  </form>
  <div class="col-md-2">
    
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="dropdown-menu">
  <span class="dropdown-item-text">Dropdown item text</span>
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Action</button></li>
    <li><button class="dropdown-item" type="button">Another action</button></li>
    <li><button class="dropdown-item" type="button">Something else here</button></li>
  </ul>
</div>


<script src="/js/results.js"></script>
