<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="card">
  <div class="card-header">
    See Your Past Comments
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Trail ID</li>
    <li class="list-group-item">Comment</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body"></div>
</div>