<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
    <h4>Your comments: </h4>
  </div>
</div>


{{#each comments as |comment|}}
<div class="">

</div>
<h1>
{{id}}{{title}}
{{comment.search_id}}
</h1>
{{/each}}